* {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: url('./images/background.jpg') no-repeat center/cover;
  font-size: 16px;
}

form,
.modal-content {
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  margin: 0 auto;
  max-width: 90%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label,
input,
textarea,
button {
  width: 100%;
  font-size: 1em;
  padding: 10px;
  margin: 10px 0;
}

label {
  margin: 5px 0 5px;
  font-size: 18px;
}

input,
textarea {
  font-size: 1.2em;
}

button {
  display: flex;
  justify-content: center;
  max-width: 50%;
  margin: 10px auto 0;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #3e8e41;
}

.error {
  color: red;
  font-size: 0.8em;
}

.centered-text {
  text-align: center;
  font-size: 1.2em;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.5s ease-in-out;
}

.modal.fade-out {
  opacity: 0;
}

.modal-content {
  width: 90%;
  max-width: 500px;
  background-color: #fefefe;
  margin: 10% auto;
  text-align: center;
  position: relative;
  padding: 20px;
  border-radius: 5px;
}

.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (min-width: 325px) and (max-width: 767px) {
  .main {
    max-width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .main {
    width: 70%;
  }
}